body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #298A08;
}

.quem-somos {
    background-color: #8181F7;
    color: white;
}

.padding {
    padding-top: 30px;
    padding-bottom: 40px;
}

.margin {
    margin: 30px 0;
}

.parceiros {
    background-color: #5882FA;
    color: white;
}

.bg-footer {
    background-color: black;
    color: white;
}