body {
    background-color: #f7f7f7;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.photo {
    border-radius: 50px;
    border: 1px solid #505050;
    margin-left: 15px;
}

#title, .subtitle, .post-title {
    color: #505050;
    margin-left: 15px;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #505050;
}

.post-title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border: 3px solid #505050;
    border-radius: 5px;

    object-fit: contain;
}

.post-content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post-image {
    margin-bottom: 15px;
    width: 100%;
}

.contacts-list {
    list-style: none;
    padding-left: 15px;
}

.contacts-list li a {
    text-decoration: none;
}