.item-list {
    margin: 1.5rem 0;
}

.item-list strong{
    color: #539bf5;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.item-list p {
    color: #999999;
    font-size: 1rem;
    margin: 1.5rem 0;
}