header {
    width: 100%;
    height: 3.25rem;
    /*background-color: #2d333b;*/
    background-color: rgb(153, 154, 156);

    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #ffffff;
}

